{% extends "blog1.html" %}
{% block content %}
<h1>iQOO Z6 Series</h1>
    <p>Today, the Indian division of IQOO held an event introducing two phones - iQOO Z6 Pro and iQOO Z6 44W. They are entirely new devices with Snapdragon chipsets and AMOLED screens with Schott Xensation protection.</p>

    <h2>iQOO Z6</h2>
    <img src="https://fdn.gsmarena.com/imgroot/news/22/04/vivo-iqoo-z6-pro-44w-ofic/inline/-1200/gsmarena_002.jpg" alt="iQOO Z9 Turbo Image">
    <p>The iQOO Z6 44W is different from the original iQOO Z6 (also sold as vivo T1 5G) and it goes beyond the headlining charging speed. It has an LTE-only Snapdragon 680 chipset with 4GB, 6GB or 8GB RAM and 128GB storage.</p>
    <p>Price:INR 14,499</p>

    <h2>iQOO Z6 PRO</h2>
    <img src="https://fdn.gsmarena.com/imgroot/news/22/04/vivo-iqoo-z6-pro-44w-ofic/inline/-1200/gsmarena_003.jpg" alt="iQOO Z9 Image">
    <p>The iQOO Z6 Pro is advertised as the highest-performing phone in the sub-25K segment in India, based on AnTuTu results. This is achieved thanks to the Snapdragon 778G chipset and 12GB RAM. That's the top version with 256GB storage, but there are also cheaper 6/128GB and 8/128GB models.</p>
    <p>Price:INR 24,999 </p>
{% endblock content %}